{
        log {
                output file /var/log/access.log {
                        roll_size 1gb
                        roll_keep 5
                        roll_keep_for 720h
                }
        }
}
*.{{domain_name}}:443 {
	tls {
		dns cloudflare {$CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
	@apiValidApiKey {
		host {{api_subdomain}}.{{domain_name}}
		header Authorization "Bearer {$OLLAMA_API_KEY}"
	}

	@api {
		host {{api_subdomain}}.{{domain_name}}
	}

	handle @apiValidApiKey {
		reverse_proxy {{ollama_url}}
	}

	handle @api {
		header Content-Type application/json
		root * /srv
		rewrite * /401.json
		file_server
	}

	@app host {{app_subdomain}}.{{domain_name}}
	reverse_proxy @app {{webui_service_name}}:8080

	log
}


